* {margin:0;padding:0;outline:none;}
img {border:none;}

body {background:url(../images/bg/body.png) repeat-x;font:12px "Geneva", Verdana, Arial, sans-serif;color:#333;}

p, li {line-height:14px;}
a {color:#333;text-decoration:none;}

h1,h2,h3,h4,h5,h6 {font-family:"Georgia", "Times New Roman", serif;text-transform:uppercase;}
h1 {font-size:24px;margin-bottom:10px;}

label {display:block;font-weight:bold;}
label.error {color:red;margin:-15px 0 5px 0;padding:5px 10px;border-top:1px solid #DCDCDC;border-bottom:1px solid #DCDCDC;background-color:#FFEDF4;text-align:center;}
input, textarea {margin:5px 0 20px 0 ;width:300px;color:#FF0245;background-color:#EAEAEA;border:none;font-family:"Georgia", "Times New Roman", serif;font-size:16px;font-weight:bold;}
input {height:30px;}
textarea {height:150px;}
input.submit {height:auto;width:auto;margin:0;padding:0;background:none;cursor:pointer;float:right;}

#main {margin:0 auto;width:920px;}

/*Top*/
#logo {float:left;margin:20px 20px 0 0;}

#top {float:left;margin-top:20px;width:600px;height:85px;border-bottom:10px solid #333;text-align:right;}
#top img {float:right;margin-top:3px;}
#top h2 {font-family:"Geneva", Verdana, Arial, sans-serif;font-size:20px;margin-top:10px;text-transform:none;margin-top:;}
#top big,
#top small {display:block;}
#top big {color:#999;font-size:14px;}
#top small {color:#666;font-size:11px;}

/*Menu*/
#menu {padding:20px 0;background:url(../images/bg/menu.png) no-repeat;float:left;width:299px;font:bold 16px "Georgia", "Times New Roman", serif;}
#menu li {list-style:none;}
#menu li a {display:block;padding:5px 0 5px 20px;}
#menu li a:hover {background-color:#333;color:white;}

/*Home*/
#welcome {float:left;width:280px;height:240px;border-right:1px solid #DCDCDC;padding-right:20px;}

#last_posts {float:right;width:280px;height:240px;}
#last_posts img {float:right;}
#content #last_posts ul {margin:10px 0;}
#last_posts li {list-style:none;border-top:1px solid #DCDCDC;padding:7px 0 7px 0;}
#last_posts li strong {display:block;color:#FF0245;}
#last_posts li a:hover {text-decoration:underline;}
#last_posts li a:hover strong {color:black;}

#hot_box {float:left;width:560px;height:160px;margin-top:20px;background:url(../images/bg/hot_box.png);border:1px solid #DCDCDC;padding:20px;}
#hot_box h1 {color:#FF0245;}
#content #hot_box ul {margin:5px 0;}
#hot_box li {display:inline;list-style:none;margin-right:10px;}
#hot_box li a img {border:solid 3px #DCDCDC;}
#hot_box li a:hover img {border-color:#FF0245;}
#hot_box div {float:right;width:140px;height:160px;padding-left:20px;text-align:center;margin-left:20px;border-left:solid 1px #DCDCDC;}
#hot_box div img {border-bottom:solid 1px #DCDCDC;padding:5px 0;}
#hot_box div p {padding-top:10px;}

/*Content*/
.content_cms p {margin-bottom:14px;}

#content {float:left;width:599px;border-left:1px solid #DCDCDC;padding:20px 0 0 20px;position:relative;}
#content ul,
#content ol {margin-left:40px;}

#contact {float:right;width:300px;margin-left:20px;padding-left:20px;border-left:solid 1px #DCDCDC;}

/*Blog*/
#content ul#posts {margin:0;width:370px;float:left;}
#posts li {margin-bottom:20px;list-style:none;}
#posts small {margin:10px 0;font-size:12px;font-style:italic;display:block;padding:5px 10px;border-top:1px solid #DCDCDC;border-bottom:1px solid #DCDCDC;background-color:#FFEDF4;}
#posts small img {margin:2px 0 0 5px;}
#posts small a {float:right;font-style:normal;font-weight:bold;font-size:14px;color:#FF0245;}
#posts li a:hover {color:#FF0245;}
#feed_rss {float:right;}
h2.title_with_line {border-bottom:solid 1px #DCDCDC;padding-bottom:10px;margin:20px 0;}

#comments {float:left;margin-bottom:20px;}
.comment {position:relative;padding:20px;float:left;width:560px;}
.comment p {margin-bottom:14px;}
.comment.odd {background-color:#EAEAEA;}
.comment img {position:absolute;top:20px;right:20px;}
.comment small {float:right;color:#FF0245;}

#comment_form input,
#comment_form textarea {width:600px;}
#comment_form input.submit {width:auto;}

#content #sidebar {padding:20px;border:1px solid #DCDCDC;background:url(../images/bg/hot_box.png);float:right;width:149px;margin:0;padding-left:20px;margin-left:20px;}
#sidebar li {border-top:solid 1px #DCDCDC;padding:5px 0;list-style:none;font-weight:bold;color:#FF0245;}
#sidebar li.title {list-style:none;padding:0;border:none;margin-bottom:20px;}
#sidebar li.title h2 {color:#FF0245;}
#sidebar li a {display:block;color:#333;}
#sidebar li:hover a {color:#FF0245;}

/*Photo Gallery*/
#content #drop_down {color:white;padding:5px 10px;font-weight:bold;cursor:pointer;width:200px;height:18px;position:absolute;right:0;top:20px;background:#FF0245 url(../images/icon/arrow_bottom.png) 195px 10px no-repeat;font-size:14px;}
#drop_down ul {display:none;background-color:#FF0245;width:220px;right:0;top:28px;position:absolute;border-top:solid 1px white;}
#drop_down ul li {list-style:none;}
#drop_down ul li a {display:block;color:white;padding:5px 10px;}
#drop_down ul li a:hover {background-color:#FF3C70;color:white;text-decoration:none;}

#content #images {margin:20px 0;}
#images li {display:inline;margin:0 19px 20px 0;float:left;}
#images li a img {border:solid 3px #DCDCDC;}
#images li a:hover img {border-color:#FF0245;}

h3.gallery {margin:20px 0 15px 0;font-size:12px;display:block;padding:5px 10px;border-top:1px solid #DCDCDC;border-bottom:1px solid #DCDCDC;background-color:#FFEDF4;}

/*Footer*/
#footer {color:#666;float:right;width:600px;background-color:#EAEAEA;text-align:center;margin-top:20px;padding:15px 0;font-size:10px;}

/*Messages*/
div.notice      {border:solid 2px green;background-color:#B2DFB8;color:green;padding:3px 5px;}
div.error       {border:solid 2px red;background-color:#FDB5AF;color:red;padding:3px 5px;}