* {margin:0;padding:0;outline:none;}

body {background:url(../images/bg/body.png) repeat-x;font:13px "Geneva", Verdana, Arial, sans-serif;color:#333;}

p {line-height:14px;}

#main {margin:0 auto;width:940px;}

#menu {background:url(../images/bg/menu.png) repeat-x;float:left;width:300px;}