development:
  adapter: mysql
  encoding: utf8
  database: pages_development
  username: root
  password:

test:
  adapter: mysql
  encoding: utf8
  database: pages_test
  username: root
  password:

production:
  development
