<ul id="menu">
	<li>
		<%= link_to "Users", admin_users_path %>
		<ul>
			<li><%= link_to "Users", admin_users_path %></li>
			<li><%= link_to "Admins", admin_users_path(:role => 'admin')  %></li>
		</ul>
	</li>
	<li><%= link_to "Pages", admin_pages_path %></li>
</ul>