<h1>Fotos</h1>
<h3><%= @photo_gallery.name %></h3>
<div id="drop_down">
	<ul>
	<% @photo_galleries.each do |photo_gallery| %>	
		<li><%= link_to photo_gallery.name, photo_gallery_path(photo_gallery.permalink) %></li>
	<% end %>	
	</ul>
</div>
<ul id="images">
<% @photo_gallery.images.each do |image| %>	
	<li><%= link_to image_tag(image.image.url(:thumb), :alt => image.name, :title => image.name), photo_gallery_image_path(@photo_gallery.permalink, image.id) %></li>
<% end %>
</ul>
<%= javascript_include_tag "plugins/hoverIntent", "photo_galleries/default"%>